# Core Dependencies
pyspark==3.5.3
kafka-python-ng==2.2.3
minio==7.2.9
mysql-connector-python==8.3.0
python-dotenv==1.0.0

# Google API Dependencies
google-api-python-client==2.117.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0

# Airflow Dependencies
apache-airflow==2.10.2
apache-airflow-providers-apache-spark==4.10.0

# Utility Dependencies
six==1.16.0
isodate==0.6.1
pandas
pyarrow
delta-spark==3.2.0